body{
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
	background-color: unset !important;
	display: flex;
	justify-content: center;
	align-items: center;
}

.startscreen__background{

	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url("images/background_home.jpg");

	}

a{
	text-decoration: none;
}

	.timemusclescreen_mins{
	width: 327px;	
	position: relative;
	font-size: 33px;

}


.timemusclescreen_divide{
	background-color: #A2A2A2;
	height: 2px;
	margin: 20px;
}

div.timemusclescreen__radio{
}

input{
	float: right;
	display: flex;


}

#root{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}

.timemusclescreen__form{
	display: flex;
	flex-direction: column;
}
