body{
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
	background-color: unset !important;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1rem;
	font-family: "Helvetica";
	font-weight: lighter;

}

.startscreen__background{

	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url("images/background_home.jpg");

	}

.timemusclescreen_mins{
	width: 87px;	
	position: relative;
	font-size: 33px;
	right: -90px;

}

.timemusclescreen_divide{
	background-color: #A2A2A2;
	height: 2px;
	margin: 20px;
}

input{
	float: right;
	display: flex;
	width: 40px;
	height: 40px;
	font-size: 22px;
}

#root{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;

}

.timemusclescreen__form{
	display: flex;
	flex-direction: column;
}

.table__red{
	color: red;
}

td{
    margin-right: 10px;
}

