
	
body{
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
	background-color: unset !important;
	display: flex;
	justify-content: center;
	align-items: center;

}

.startscreen__background{
	height: 100vh;
	width: 46vh;
	display: flex;
	justify-content: center;
	align-items: center;
	}

a{
	text-decoration: none;
}


.timemusclescreen_mins{
	
	height: 40px;
	position: relative;
	font-size: 33px;

}

.timemusclescreen_divide{
	background-color: #A2A2A2;
	height: 2px;
	margin: 20px;
}

div.timemusclescreen__radio{
	display: inline-flex;
}

div.timemusclescreen__checkbox{
	display: flex;
	flex-direction: columns; //thisn
}