@media (max-width: 414px){ //iphone 6/7/8/xs/
	.startscreen__background{
		background-image: url("images/375x812.jpg");
	}
	
	.timemusclescreen_divide{
		background-color: #A2A2A2;
		height: 2px;
		margin: 0px;
	}
	
}

@media (max-width: 1024px){ //ipad / pro
	.startscreen__background{
		background-image: url("images/375x812.jpg");
	}
}

@media (min-width: 1025px){//everthing else
	.startscreen__background{
		background-image: url("images/background_home.jpg");
		height: 100%;
		width: 100%  ;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	input#time.timemusclescreen_mins{
			width: 70px;

		}
}

