@media (max-width: 414px){ //iphone 6/7/8/xs/
	.startscreen__background{
		background-image: url("images/375x812.jpg");
	}
}

@media (max-width: 1024px){ //ipad / pro
	.startscreen__background{
		background-image: url("images/375x812.jpg");
	}
}

@media (min-width: 1025px){ //iphone 6/7/8/xs/
	.startscreen__background{
		background-image: url("images/background_home.jpg");
	}

}

